.cart {
  width: 75%;
  margin: 20px auto;
  .cart-header {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 3px #c0c0c0;
    margin: 6px 0px;
    padding: 10px;
    img {
      width: 80px;
      margin-right: 10px;
      object-fit: cover;
    }

    .cart-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }
  }
  .cart-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .total {
      font-size: 25px;
    }
  }
  button {
    display: inline-block;
    background-color: #2a5ea5;
    border: 0;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    text-transform: capitalize;
  }
  button:hover {
    cursor: pointer;
    background-color: #90b2e1;
  }
}
@media screen and (max-width: 974px) {
  .cart-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    button {
      margin-top: 20px;
    }
  }
}
