.orders table {
  width: 100%;
  text-align: center;
  thead {
    background-color: black;
    color: white;
    th {
      padding: 10px;
    }
  }
  tr {
    td {
      padding: 10px;
      border-bottom: 1px solid #f0f0f0;
    }
  }
}
