.header {
  grid-area: header;
  background-color: #2a5ea5;
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  header {
    margin-left: 30px;
  }
  .links {
    margin-right: 30px;
  }
  .link {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    &:hover {
      color: #c0c0c0;
    }
  }
}
